<main class="bg-[#FF5A5F] h-[50px] flex px-3 gap-[30px] items-center">
  
<a href="/" class="<%=currentPage==='index'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Home</a>

<a href="/host/add-home " class=" <%=currentPage==='add-home'?'bg-red-300':'hover:bg-red-300 '%> text-[15px]  font-bold rounded py-2 px-4 transition duration-300 text-white ">Add Home</a>

<a href="/booking" class="<%=currentPage==='booking'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Booking</a>

<a href="/host/home-list" class="<%=currentPage==='home-list'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Host-List</a>

<a href="/home-details" class="<%=currentPage==='home-details'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Home Details</a>

<a href="/favourite-list" class="<%=currentPage==='favourite-list'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Favourite</a>

<a href="/reserve" class="<%=currentPage==='reserve'?'bg-red-300':'hover:bg-red-300 '%> rounded py-2 px-4  transition duration-300 text-[15px]  text-white font-bold ">Reserve</a>
</main>