<%- include("../partials/head")%>
</head>

<body>
    <section>
     
        <%- include("../partials/header")%>
          <header class="py-16"><h1 class="text-[#FF5A5F] text-4xl font-bold text-center">List of Favourites</h1></header> 
          <ul class="ml-5 mt-[10px] flex flex-wrap gap-10">
         <% lonenly.forEach(homes=>{%>

            <div class="bg-[#FF5A5F] w-[250px] border-[#FF5A5F] rounded-md">
           <img class="w-[250px] h-[160px]  border-1 border-[#FF5A5F] rounded" src=<%=`${homes.image}`%>>   
            <li class="text-[20px] text-white pl-4 font-bold "> <%=homes.home%></li>
            <!-- <li class="text-[20px] text-white pl-4 font-bold "> <%=homes.email%></li>  -->
            <li class="text-[15px] text-white pl-4  ">$ <%=homes.price%></li>   
            <li class="text-[15px] text-white pl-4  "> <%=homes.location%></li>  
            
            <span class="flex justify-between pl-4 py-2">
                <img class="w-[30px] " src="https://cdn.pixabay.com/photo/2013/07/12/17/39/star-152151_1280.png">
                <li class="text-[20px] px-4 text-white pl-4 font-bold "><%=homes.rating%></li>
            </span>
           </div>
                
              
            <%})%>
            
        </ul>
    </section>
</body>
</html>